@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{

    font-family: "Poppins";
}

#back{
    background-color: rgb(160, 160, 160);
}

#wrapped{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;

}

.squareFb{
    flex-flow: column;
    display : flex;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: rgb(11, 117, 179);
    align-items: center;
    justify-content: center;
  

}
.squareX{
    flex-flow: column;
    display : flex;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: rgb(45, 223, 230);
    align-items: center;
    justify-content: center;

}

.square{
    padding: 5px;
    display : flex; 
    transition: 1s;

}

.squareBis{
    display : flex; 
    padding: 5px;
    border-radius: 20px;
    transition: 1s;
    /* box-shadow: 0px 50px 20px -50px rgb(10, 66, 99); */
    border: solid 1px;
    border-color: white
}

.squareInsta{
    
    display : flex;
    flex-flow: column;
    height: 150px;
    width: 150px;
    margin: 5px;
    background-color: rgb(255, 90, 39);
    align-items: center;
    justify-content: center;

}

.icone{
    display : flex;
    position: relative;
    top:25px;
    background-color: rgba(255, 255, 255, 0);
    transition: 2s;
}

.iconeBis{
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    transition: 2s;
    top:0px;
}


i{    color : white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 50px;
}

h2{
    background-color: rgba(255, 255, 255, 0);
    color:white;
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

h1{
    background-color: rgba(255, 255, 255, 0);
}

.text{
    display: flex;
    position: relative;
    color: rgba(240, 248, 255, 0);
    background-color: rgba(240, 248, 255, 0);
    top:10px;
    transition: 1s;
}

.textBis{
    position: relative;
    top:10px;
    display: flex;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0);
    transition: 5s;
}

.back{
    background-color: rgb(160, 160, 160);
}

.backFB{
    background-color: rgb(11, 117, 179);
}

.backX{
    background-color: rgb(45, 223, 230);
}

.backInsta{
    background-color: rgb(255, 90, 39);
}